node-options=--max_old_space_size=8192
//gitlab.fiorilli.com.br/api/v4/groups/114/-/packages/npm/:_authToken=xxZ4j7csSfN5Fckocj3e
@fiorilli:registry=https://gitlab.fiorilli.com.br/api/v4/groups/114/-/packages/npm/

strict-ssl=false
