$navbar-tab-bg: rgba(248, 249, 250, 1);
$navbar-icon-color: #606F86;

$int-color-green: #4bab83;
$int-color-brown: #b3783e;
$int-color-orange: #e8b466;
$int-color-red: #cc4a33;
$int-color-purple: #ab528c;
$int-color-dark-blue: #334acc;
$int-color-light-blue: #66b4e8;


$int-toolbar-button-delete: #F87171;
$int-toolbar-button-default: #E4E4E7;
$int-toolbar-button-delete-hover: #EF4444;
$int-toolbar-button-default-hover: #D4D4D8;
