@import 'var';

.dx-datagrid .dx-datagrid-headers .dx-row td.dx-pointer-events-none {
  border: none transparent;
}

.dx-datagrid .dx-row > td,
.dx-datagrid .dx-row > tr > td {
  padding: 6px;
}

.dx-datagrid-rowsview .dx-row.dx-row-lines {
  td.bg-int-red {
    background-color: $int-color-red;
  }

  td.bg-int-orange {
    background-color: $int-color-orange;
  }

  td.bg-int-green {
    background-color: $int-color-green;
  }

  td.bg-int-brown {
    background-color: $int-color-brown;
  }

  td.bg-int-purple {
    background-color: $int-color-purple;
  }

  td.bg-int-dark-blue {
    background-color: $int-color-dark-blue;
  }

  td.bg-int-light-blue {
    background-color: $int-color-light-blue;
  }

  td.color-white {
    color: white;
  }
}

.dx-data-row.dx-state-hover:not(.dx-selection):not(.dx-row-inserted):not(.dx-row-removed):not(.dx-edit-row):not(.dx-row-focused) > td:not(.dx-focused) {
  color: $base-text-color;
  background-color: rgba(0, 96, 96, 0.12) !important;
}

.dx-pages > .dx-page-indexes > .dx-light-pages > .dx-page-index.dx-show-invalid-badge.dx-numberbox.dx-texteditor.dx-editor-filled.dx-widget > div > div.dx-texteditor-input-container > input {
  padding: 9px 0 9px 8px !important;
}

.dx-treelist-container {
  .dx-toolbar-after {
    width: 100%;
    padding: 0;
  }

  .dx-treelist-search-panel {
    width: 100% !important;
    margin: 0;
  }

  .dx-treelist-header-panel {
    padding: 0;
  }
}

.dx-widget {
  .dx-pager {
    background-color: $navbar-tab-bg;
    border: none;

    .dx-info {
      color: $base-label-color;
      font-weight: 400;
    }
  }
}

.data-grid-absolute dx-data-grid.dx-widget.dx-visibility-change-handler.ng-star-inserted {
  position: absolute !important;
  height: calc(100% - 147px) !important;
  inset-inline: 0 0 !important;
  padding: 7px !important;
}

.custom-data-grid .dx-widget {
  .dx-pager {
    bottom: -20px;
    position: sticky;
    width: 100%;
    z-index: 99;
  }
}

tr.dx-row.dx-freespace-row {
  height: 0 !important;
}
