@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';

@import 'src/@dev-express/generated/variables.base';

@import 'src/styles/var';

.dx-datagrid .dx-datagrid-headers .dx-row td.dx-pointer-events-none {
  border: none transparent;
}

.dx-datagrid .dx-row > td,
.dx-datagrid .dx-row > tr > td {
  padding: 6px;
}

.dx-data-row.dx-state-hover:not(.dx-selection):not(.dx-row-inserted):not(.dx-row-removed):not(.dx-edit-row):not(.dx-row-focused) > td:not(.dx-focused) {
  color: $base-text-color;
  background-color: rgba(0, 96, 96, 0.12) !important;
}

.dx-pages > .dx-page-indexes > .dx-light-pages > .dx-page-index.dx-show-invalid-badge.dx-numberbox.dx-texteditor.dx-editor-filled.dx-widget > div > div.dx-texteditor-input-container > input {
  padding: 9px 0 9px 8px !important;
}

dx-tag-box,
dx-text-box,
dx-date-box,
dx-select-box,
dx-number-box,
dx-drop-down-box {
  &.dx-state-focused {
    .dx-texteditor-label {
      margin-top: -1px !important;
    }
  }

  .dx-texteditor-label {
    line-height: 15px !important;
    height: 15px !important;
  }
}

dx-date-box .dx-overlay .dx-invalid-message .dx-invalid-message-content {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  font-size: .80em !important;
}

.dx-texteditor {
  &.dx-editor-filled,
  &.dx-editor-filled + .dx-state-active,
  &.dx-editor-filled + .dx-state-focused,
  &.dx-editor-filled + .dx-state-hover {
    border-radius: 0;
    border: none transparent;
  }
}

.dx-editor-filled {
  &.dx-dropdowneditor-button {
    &.dx-state-active .dx-dropdowneditor-icon,
    &.dx-state-hover .dx-dropdowneditor-icon,
    &.dx-state-hover {
      background-color: transparent;
    }
  }

  &.dx-dropdowneditor {
    &.dx-dropdowneditor-active .dx-dropdowneditor-icon,
    &.dx-dropdowneditor-active.dx-state-hover .dx-dropdowneditor-icon,
    &.dx-state-hover:not(.dx-custom-button-hovered) .dx-dropdowneditor-icon {
      background-color: transparent;
    }
  }
}

.dx-popup-content .dx-list-item {
  display: block !important;
}

.dx-button-has-icon.dx-button-has-text .dx-button-content {
  font-size: 12px;
}

.dx-toolbar .dx-button .dx-icon {
  font-size: 14px;
}

.dx-button {
  font-size: 0.8rem;
  border: 0;

  .dx-button-text {
    text-transform: none;
    font-weight: 400;
  }

  .dx-button-content {
    display: inline-flex;
  }
}

.dx-link.dx-icon.fas.fa-trash.dx-link-icon:hover {
  color: #e20303 !important;
}

.dx-link.dx-icon:hover {
  color: $base-accent !important;
}

.dx-tabs {
  border: none;

  .dx-tab-selected::after {
    border: none;
  }
}

.dx-tabs, .dx-tab, .dx-tab.dx-tab-selected {
  box-shadow: none !important;
}

.dx-popup-title.dx-toolbar {
  .dx-toolbar-item:last-child {
    padding-right: 8px;
  }
}

.dx-calendar-cell.dx-state-hover,
.dx-calendar-cell.dx-calendar-selected-date,
.dx-calendar-cell.dx-state-active:not(.dx-calendar-empty-cell):not(.dx-calendar-selected-date),
.dx-calendar-cell.dx-calendar-selected-date.dx-calendar-contoured-date,
.dx-calendar-cell.dx-calendar-selected-date.dx-calendar-today.dx-calendar-contoured-date,
.dx-calendar-cell.dx-calendar-selected-date.dx-calendar-today {
  box-shadow: none;
}

.dx-calendar-navigator .dx-calendar-caption-button.dx-button .dx-button-content {
  color: $base-accent;
}

.dx-row.dx-header-row {
  background-color: $navbar-tab-bg;
}

.dx-toolbar {
  background-color: $navbar-tab-bg;
  padding: 2px 7px;
}

.dx-toolbar .dx-toolbar-items-container {
  height: 36px;
}

.dx-widget {
  .dx-pager {
    background-color: $navbar-tab-bg;
    border: none;

    .dx-info {
      color: $base-label-color;
      font-weight: 400;
    }

    .dx-pages {
    }

    .dx-page-sizes {
    }
  }
}

.dx-context-menu .dx-submenu {
  box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
}

@media (max-width: 450px) {
  .dx-context-menu .dx-menu-item .dx-submenu {
    transform: translate(-5%, 0) !important;
  }
}

.dx-menu-base .dx-menu-item .dx-menu-item-content .dx-menu-item-text {
  font-weight: bold;
}

.dx-context-menu .dx-menu-no-icons > .dx-menu-item-wrapper > .dx-menu-item > .dx-menu-item-content .dx-menu-item-text {
  font-weight: normal;
}

.dx-context-menu-container-border {
  border: none;
}

.dx-menu .dx-menu-horizontal .dx-menu-item-popout::before {
  margin-left: -17px;
}

.dx-menu-base .dx-menu-item .dx-menu-item-content .dx-menu-item-text {
  font-size: 12px;
}

.dx-fieldset-header {
  color: $base-accent !important;
  font-size: 16px !important;
  font-weight: 600 !important;
}

.dx-texteditor-buttons-container {
  position: relative;

  .dx-button {
    height: 100%;
    width: 33px;
    margin: 0 !important;
    border-radius: 0 !important;
    border: none;
  }
}

.dx-input-group {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  width: 100%;

  .dx-button-mode-contained {
    background-color: transparent;
    border: none;
    color: #333;
  }

  .dx-button {
    border-radius: 0;
    border: none;
  }

  > .dx-numberbox,
  > .dx-selectbox,
  > .dx-textbox {
    position: relative;
    flex: 1 1 0;
    min-width: 0;
    margin-bottom: 0;
  }

  .dx-state-disabled .dx-texteditor-label {
    .dx-label {
      color: black;
    }
  }
}

.dx-button-mode-contained {
  background-color: transparent;
}

.dx-input-group-prepend,
.dx-input-group-append {
  display: flex;

  .dx-button {
    position: relative;
    z-index: 2;

    &:focus {
      z-index: 3;
    }
  }

  .dx-button + .dx-button,
  .dx-button + .dx-input-group-text,
  .dx-input-group-text + .dx-input-group-text,
  .dx-input-group-text + .dx-button {
    margin-left: -$input-border-width;
  }
}

.dx-widget.dx-button.dx-button-mode-contained.dx-button-has-text.dx-button-has-icon.dx-state-disabled {
  i.dx-icon {
    color: black;
  }
  span.dx-button-text {
    color: black;
  }
}

.btn-base-view {background-color: lightskyblue;}

.btn-base-view:hover, .btn-base-view:focus {background-color: #48b3de;}

.btn-base-edit, .btn-base-default {
  background-color: rgb(228, 228, 231);
  color: $base-text-color;
}

.btn-base-edit:hover, .btn-base-default:hover {background-color: rgb(212, 212, 216);}

dx-diagram .dx-diagram-content-wrapper .dx-diagram-floating-toolbar-container {
  min-width: 130px;

  .dx-diagram-toolbar .dx-toolbar-items-container .dx-toolbar-before .dx-toolbar-item .dx-item-content .dx-button {
    border-radius: 0;
  }
}

@media (max-width: 767px) {
  .dx-input-group {
    flex-direction: column;

    > .dx-input-group-prepend,
    > .dx-input-group-append {
      width: 100%;
      flex: 1;
      margin-bottom: 24px;

      > .dx-numberbox, > .dx-selectbox, > .dx-textbox {
        width: 100%;
      }
    }

    & > .dx-numberbox, > .dx-selectbox, > .dx-textbox {
      width: 100%;
    }
  }
}

@import 'bootstrap/scss/bootstrap';
