.dx-widget.btn-favorite-bar.dx-dropdownbutton.dx-dropdownbutton-has-arrow {
  .dx-button,
  .dx-buttongroup-mode-contained {
    background-color: rgb(242 238 238) !important;
    box-shadow: none !important;
    height: 24px;
  }
}

.favoriteBar .dx-toolbar .dx-toolbar-items-container {
  background-color: rgb(242 238 238) !important;
  height: 24px;
  margin-bottom: -4px;

  .dx-button.dx-button-has-icon:not(.dx-button-has-text):not(.dx-shape-standard) {
    height: 24px;
  }

  .dx-button,
  .dx-buttongroup.dx-buttongroup-mode-contained.dx-widget {
    height: 24px !important;
    background-color: rgb(242 238 238) !important;
    box-shadow: none !important;
  }

  .dx-button:hover,
  .dx-buttongroup.dx-buttongroup-mode-contained.dx-widget:hover {
    background-color: rgba(228, 228, 231) !important;
  }
}

.dx-menu.dx-widget.btn-base-undefined.dx-visibility-change-handler.dx-collection.dx-menu-base.customMenuButton {
  background-color: rgb(228, 228, 231) !important;

  span.dx-menu-item-text {
    font-weight: normal !important;
  }

  i {
    font-size: 14px !important;
  }
}

.dx-toolbar-menu-section .dx-toolbar-hidden-button .dx-button-content, .dx-toolbar-menu-section .dx-toolbar-hidden-button-group .dx-button-content {
  padding: 0;
  padding-inline-start: 4px;
}

.dx-toolbar-menu-section .dx-list-item-content,
.dx-toolbar-menu-section .dx-toolbar-item-auto-hide {
  padding: 1px 0 !important;

  .dx-button-has-icon.dx-button-has-text .dx-button-content {
    justify-content: start !important;
  }

  .dx-dropdownbutton-has-arrow .dx-dropdownbutton-action.dx-buttongroup-last-item.dx-button-has-text .dx-button-content {
    padding-inline-start: 4px;
  }
}

.btn-base-edit, .btn-base-default, .btn-base-duplicate, .btn-base-view, .btn-favorite-bar, .btn-base-export,
.dx-widget.dx-button.dx-button-mode-contained.dx-button-normal.dx-button-has-text.dx-button-has-icon.btn-base-print {
  background-color: rgb(228, 228, 231) !important;
  color: $base-text-color !important;
  box-shadow: none !important;
  width: 100% !important;
}

.dx-list-item .dx-icon {
  color: $base-text-color !important;
}

.btn-base-edit:hover, .btn-base-default:hover, .btn-base-duplicate:hover, .btn-base-view:hover,
.dx-widget.dx-button.dx-button-mode-contained.dx-button-normal.dx-button-has-text.dx-button-has-icon.btn-base-print:hover,
.dx-toolbar-button .dx-menu .dx-menu-item.dx-state-hover {
  background-color: rgba(134, 134, 137, 0.27) !important;
}

.dx-widget.dx-button.dx-button-mode-contained.dx-button-has-text.dx-button-has-icon.dx-state-disabled,
.dx-buttongroup.dx-buttongroup-mode-contained.dx-widget.dx-state-disabled,
.dx-state-disabled .dx-widget, .dx-state-disabled.dx-widget {
  opacity: 0.30 !important;
  box-shadow: none !important;

  i.dx-icon {
    color: black;
  }

  span.dx-button-text {
    color: black;
  }
}

.dx-widget.dx-button.dx-button-mode-contained.dx-button-default.dx-button-has-text.dx-button-has-icon.btn-base-new,
.dx-widget.dx-button.dx-button-mode-contained.dx-button-danger.dx-button-has-text.dx-button-has-icon.btn-base-delete,
.dx-widget.dx-button.dx-button-mode-contained.dx-button-danger.dx-button-has-text.dx-button-has-icon.btn-base-delete.dx-state-disabled {
  box-shadow: none !important;

  i.dx-icon {
    color: white !important;
  }

  span.dx-button-text {
    color: white !important;
  }
}

.dx-widget.dx-button.dx-button-mode-contained.dx-button-danger.dx-button-has-text.dx-button-has-icon.btn-base-delete.dx-state-disabled {
  background-color: #d32f2f;
}
