<div class="flex flex-col items-center justify-center flex-auto min-w-0 p-8 bg-gray-100 min-h-screen">
  <div class="w-full max-w-80 sm:w-80 mx-auto flex flex-col items-center justify-center">
    <div class="flex w-32 content-center mb-6">
      <img src="assets/images/logo/logotipo.jpeg" alt="Logo InfraTec">
    </div>

    <!-- Caixa branca ao redor do router-outlet -->
    <div class="bg-white rounded-lg shadow-lg w-full p-8">
      <router-outlet></router-outlet>
    </div>

    <div class="flex content-center justify-center mt-3 text-sm font-bold">
      <img class="w-5" src="assets/images/logo/logo.svg" alt="InfraTec">
      <div class="pl-1">
        Copyright ©2024 InfraTec
      </div>
    </div>
  </div>
</div>
