body.ng-tns-0-0.is-blink.swal2-shown.swal2-height-auto {
  height: 0 !important;
}

.swal2-input, .swal2-file, .swal2-textarea, .swal2-select {
  box-shadow: none !important;
  outline: none !important
}

.swal2-container {
  z-index: 1000000;
}

.swal2-html-container {
  padding: 0 15px 0 15px;
  font-size: 14px;
}

.swal2-title {
  padding: 11px 1em 0;
}

.swal2-icon {
  margin: 2.5em auto 0;
}

.swal2-styled.swal2-confirm {
  box-shadow: none !important;
  background-color: #dcd9d9;
  border-radius: 0;
  font-weight: 400;
  font-size: 13px;
}

.swal2-styled.swal2-cancel {
  box-shadow: none !important;
  border-radius: 0;
  color: rgba(0, 0, 0, 0.54);
  background-color: #dcd9d961 !important;
  font-size: 13px;
}

